@import url(https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t0EsbdQArL .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t0EsbdQArL .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-t0EsbdQArL .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-t0EsbdQArL .dropdown-item {
  color: #000000 !important;
}
.cid-t0EsbdQArL .dropdown-item:hover {
  color: #000000 !important;
}
.cid-t0EsbdQArL .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-t0EsbdQArL .nav-link:hover {
  color: #89b758 !important;
}
.cid-t0EsbdQArL .nav-link:hover:before {
  opacity: 1;
}
.cid-t0EsbdQArL .nav-link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 12px;
  transition: all 0.3s;
  opacity: 0;
  background: #89b758;
}
.cid-t0EsbdQArL .btn-white {
  color: #e7272d !important;
}
.cid-t0EsbdQArL .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-t0EsbdQArL .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t0EsbdQArL .container {
  display: flex;
  margin: auto;
}
.cid-t0EsbdQArL .navbar-caption {
  padding-right: 3rem;
}
.cid-t0EsbdQArL .navbar.opened {
  background: #ffffff !important;
}
.cid-t0EsbdQArL .nav-item:focus,
.cid-t0EsbdQArL .nav-link:focus {
  outline: none;
}
.cid-t0EsbdQArL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t0EsbdQArL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t0EsbdQArL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-t0EsbdQArL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-t0EsbdQArL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t0EsbdQArL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t0EsbdQArL .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-t0EsbdQArL .navbar.opened {
  transition: all 0.3s;
}
.cid-t0EsbdQArL .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-t0EsbdQArL .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-t0EsbdQArL .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t0EsbdQArL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t0EsbdQArL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t0EsbdQArL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t0EsbdQArL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-t0EsbdQArL .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t0EsbdQArL .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-t0EsbdQArL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t0EsbdQArL .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t0EsbdQArL .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t0EsbdQArL .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t0EsbdQArL .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t0EsbdQArL .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-t0EsbdQArL .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-t0EsbdQArL .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t0EsbdQArL .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t0EsbdQArL .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t0EsbdQArL .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-t0EsbdQArL .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-t0EsbdQArL .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-t0EsbdQArL .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-t0EsbdQArL .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-t0EsbdQArL .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t0EsbdQArL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t0EsbdQArL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t0EsbdQArL .dropdown-item.active,
.cid-t0EsbdQArL .dropdown-item:active {
  background-color: transparent;
}
.cid-t0EsbdQArL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t0EsbdQArL .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t0EsbdQArL .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t0EsbdQArL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-t0EsbdQArL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t0EsbdQArL .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t0EsbdQArL ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-t0EsbdQArL .navbar-buttons {
  text-align: center;
}
.cid-t0EsbdQArL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-t0EsbdQArL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-t0EsbdQArL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t0EsbdQArL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t0EsbdQArL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t0EsbdQArL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t0EsbdQArL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t0EsbdQArL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t0EsbdQArL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t0EsbdQArL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t0EsbdQArL .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-t0EsbdQArL a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-t0EsbdQArL .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-t0EsbdQArL .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-t0EsbdQArL .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t0EsbdQArL .navbar {
    height: 77px;
  }
  .cid-t0EsbdQArL .navbar.opened {
    height: auto;
  }
  .cid-t0EsbdQArL .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t0EsfLFTNv {
  padding-top: 150px;
  padding-bottom: 75px;
  background-color: #f3f7ee;
}
.cid-t0EsfLFTNv H2 {
  color: #89b758;
}
.cid-t0EsfLFTNv .mbr-text,
.cid-t0EsfLFTNv .mbr-section-btn {
  color: #808080;
}
.cid-t0EsfLFTNv img {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 992px) {
  .cid-t0EsfLFTNv img {
    max-width: 500px;
    margin: auto;
  }
}
.cid-t0EsfLFTNv H1 {
  color: #29361a;
}
.cid-t0EsogbspS {
  padding-top: 120px;
  padding-bottom: 135px;
  background-color: #ffffff;
}
.cid-t0EsogbspS H2 {
  color: #e7272d;
}
@keyframes fly {
  from {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.cid-t0EsogbspS .row {
  position: relative;
}
.cid-t0EsogbspS .row:before {
  content: '';
  position: absolute;
  width: 800px;
  height: 750px;
  background: #89b758;
  border-radius: 100%;
  left: 55%;
  top: 52%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.cid-t0EsogbspS .mbr-text,
.cid-t0EsogbspS .mbr-section-btn {
  color: #808080;
}
.cid-t0EsogbspS img {
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  transition: all 0.3s;
  animation: fly 3s infinite ease-in-out;
}
.cid-t0EsogbspS h4 {
  line-height: 1.4;
}
.cid-t0EsogbspS .img-col {
  align-items: flex-end;
}
.cid-t0EsogbspS .icon-wrap {
  padding-left: 2rem;
  width: 160px;
}
.cid-t0EsogbspS .icon-wrap .mbr-iconfont {
  font-size: 4rem;
  color: #ffffff;
  display: block;
  padding-bottom: 1rem;
}
.cid-t0EsogbspS .icon-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-t0EsogbspS .row:before {
    left: 50%;
    top: 54%;
  }
}
@media (max-width: 767px) {
  .cid-t0EsogbspS .icon-wrap {
    padding-left: 0rem;
    margin-bottom: 2rem;
  }
  .cid-t0EsogbspS .icon-wrap .mbr-iconfont {
    font-size: 4rem;
  }
  .cid-t0EsogbspS .icon-col {
    align-items: center;
  }
  .cid-t0EsogbspS .row:before {
    height: 860px;
  }
}
.cid-t0EsogbspS .icon-text,
.cid-t0EsogbspS .mbr-iconfont {
  color: #ffffff;
}
.cid-t0EssdcTtj {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-t0EssdcTtj .card-subtitle {
  margin: 0;
}
.cid-t0EssdcTtj .card-img {
  z-index: 2;
  position: relative;
  width: 100%;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-t0EssdcTtj .card-img img {
  max-width: 200px;
}
.cid-t0EssdcTtj .card-box {
  margin-top: 10rem;
  background: #ffffff;
  padding: 2rem 1rem;
  z-index: 1;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  position: relative;
  margin-bottom: -5rem;
}
.cid-t0EssdcTtj .card1 {
  background-image: url("../../../assets/images/01.jpg");
  background-size: cover;
}
.cid-t0EssdcTtj .card2 {
  background-image: url("../../../assets/images/02.jpg");
  background-size: cover;
}
.cid-t0EssdcTtj .card3 {
  background-image: url("../../../assets/images/03.jpg");
  background-size: cover;
}
.cid-t0EssdcTtj .icon {
  width: 60px;
  height: 60px;
  background: #89b758;
  font-size: 1.2rem;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff !important;
}
.cid-t0EssdcTtj .item-wrapper {
  position: relative;
  padding: 2rem;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
  overflow: visible;
}
.cid-t0EssdcTtj h4,
.cid-t0EssdcTtj h6,
.cid-t0EssdcTtj h5 {
  margin: 0;
}
.cid-t0EssdcTtj .mbr-text {
  transition: all 0.3s;
}
.cid-t0EssdcTtj .price {
  color: #0e0e0e;
  transition: all 0.3s;
}
.cid-t0EssdcTtj img {
  transition: all 0.3s;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
.cid-t0EssdcTtj .card {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 6rem;
}
.cid-t0EssdcTtj .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-t0EssdcTtj .wrapper {
    flex-direction: column;
  }
  .cid-t0EssdcTtj .icon-padding {
    padding-left: 0rem;
  }
  .cid-t0EssdcTtj .item-wrapper {
    padding: 1rem;
  }
}
.cid-t0EssdcTtj .mbr-text,
.cid-t0EssdcTtj .mbr-section-btn,
.cid-t0EssdcTtj .card-img {
  color: #808080;
}
.cid-t0EssdcTtj H2 {
  color: #89b758;
}
.cid-t0EssdcTtj H1 {
  color: #29361a;
}
.cid-t0EsC1eTXU {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-t0EsC1eTXU .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.6;
}
.cid-t0EsC1eTXU input,
.cid-t0EsC1eTXU textarea {
  padding: 1rem 1.8rem !important;
  border-radius: 10px;
  font-size: 1.1rem;
}
.cid-t0EsC1eTXU .form-control:hover,
.cid-t0EsC1eTXU .form-control:focus {
  color: #808080 !important;
}
.cid-t0EsC1eTXU .btn-success {
  color: white !important;
}
.cid-t0EsC1eTXU img {
  width: 90%;
  border-radius: 8px;
}
.cid-t0EsC1eTXU .btn {
  border-radius: 30px;
}
.cid-t0EsC1eTXU textarea {
  min-height: 160px !important;
}
.cid-t0EsC1eTXU .form-control,
.cid-t0EsC1eTXU .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #808080;
  min-height: 4rem;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-t0EsC1eTXU .form-control:hover,
.cid-t0EsC1eTXU .field-input:hover,
.cid-t0EsC1eTXU .form-control:focus,
.cid-t0EsC1eTXU .field-input:focus {
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-t0EsC1eTXU input::-webkit-input-placeholder,
.cid-t0EsC1eTXU textarea::-webkit-input-placeholder {
  color: #808080;
}
.cid-t0EsC1eTXU input:-moz-placeholder,
.cid-t0EsC1eTXU textarea:-moz-placeholder {
  color: #808080;
}
.cid-t0EsC1eTXU .jq-selectbox li,
.cid-t0EsC1eTXU .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-t0EsC1eTXU .jq-selectbox li:hover,
.cid-t0EsC1eTXU .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-t0EsC1eTXU .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-t0EsC1eTXU .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-t0EsC1eTXU H5 {
  color: #000000;
  padding-bottom: 1.5rem;
}
@media (max-width: 992px) {
  .cid-t0EsC1eTXU img {
    width: 100%;
  }
  .cid-t0EsC1eTXU .google-map {
    margin-bottom: 2rem;
  }
}
.cid-t0EsC1eTXU .google-map {
  height: 100%;
  min-height: 30rem;
  position: relative;
  filter: grayscale(1);
}
.cid-t0EsC1eTXU .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-t0EsC1eTXU .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-t0EsC1eTXU .google-map[data-state] {
  background: #e9e5dc;
}
.cid-t0EsC1eTXU .google-map[data-state='loading'] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-t0EsC1eTXU .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-t0EsWbm3m8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f7ee;
}
.cid-t0EsWbm3m8 .logo {
  max-width: 80px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.cid-t0EsWbm3m8 .icon-wrap {
  display: flex;
  margin-bottom: 1rem;
}
.cid-t0EsWbm3m8 .icon-wrap span {
  margin-right: 14px;
  margin-top: 4px;
  font-size: 1.2rem;
  color: #89b758;
}
.cid-t0EsWbm3m8 .feedimg {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 2px;
}
@media (max-width: 767px) {
  .cid-t0EsWbm3m8 .feedimg {
    width: 80px;
    height: 80px;
  }
}
.cid-t0EsWbm3m8 .mbr-text,
.cid-t0EsWbm3m8 .mbr-section-btn {
  color: #808080;
}
.cid-t0EsWbm3m8 .location,
.cid-t0EsWbm3m8 .icon-wrap {
  color: #808080;
}
.cid-t0EsWbm3m8 H3 {
  color: #29361a;
}
